.containerTable {
	width: 100vw;
	margin-top: 2rem;

}
.btnPosition {
	float: right;
	margin-top: 5%;
}

.button {
	color: white !important;
}
.buttonForm {
	float: right;
	margin-top: -3.8rem !important;
	margin-right: 7rem;
}

.inputTodo {
	max-width: 80%;
}
.inputForm {
	background-color: #1684A1;
	color: white !important;
}


.inputForm:focus {
	background-color: #1684A1;
	color: white !important;
}
@media (max-width: 1100px)
{
	.buttonForm {
		float: right;
		margin-top: -3.8rem !important;
		margin-right: 5rem;
	}
}

@media (max-width: 990px) {
	.buttonForm {
		float: right;
		margin-top: -3.8rem !important;
		margin-right: 2rem;
	}
}

@media (max-width: 770px) {
	.inputTodo {
		max-width: 70%;
	}
	.buttonForm {
		float: right;
		margin-top: -3.8rem !important;
		margin-left: 2rem !important;
	}
}

@media (max-width: 500px) {
	.inputTodo {
		max-width: 60%;
	}
}
@media (max-width: 390px) {
	.inputTodo {
		max-width: 50%;
	}
	.buttonForm {
		float: right;
		margin-top: -5rem !important;
		margin-left: 2rem !important;
	}
}
