.todo {
	background-color: rgb(218, 0, 83);
	border-radius: 10px;
	color: #e2e2e2;
	text-align: center;
	height: 2.5rem;
	margin-bottom: 1.5rem;
	font-weight: 600;
	font-size: 20px;
	padding-top: 5px;

}

.icons {
	display: flex;
	cursor: pointer;
	color: #e2e2e2 !important;
	float: right;
	margin: 5px 20px 0 0;
}

.icon1 {
	margin-right: 10px !important;
}

.todoComplete {
	background-color: rgb(218, 0, 83);
	border-radius: 10px;
	color: #e2e2e2;
	text-align: center;
	height: 2.5rem;
	margin-bottom: 1.5rem;
	font-weight: 600;
	font-size: 20px;
	padding-top: 5px;

	text-decoration: line-through;
	opacity: 0.5;
}
