html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
background-image: linear-gradient(to right, rgba(0, 174, 255, 0.664), rgba(0, 183, 255, 0.651));

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.containerPrincipal {
	background-color:#3D345D;
	margin-top: 3rem;
	padding-bottom: 1.5rem;
}

.tarefa {
	background-color: rgb(238, 39, 99);
	color: white;
	height: 3rem;
	border-radius: 10px;
	padding-left: 20px;
	margin-left: 15px;
	font-weight: 600;
	line-height: 50px;
	position: relative


}

.buttonExcluir {
	background-color: rgba(255, 255, 255, 0) !important;
	border: rgba(255, 255, 255, 0) 1px solid !important;
	float: right;
	margin: 5px 10px 0 0
}



li {
	list-style-type: none;
}
